/* General styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2C3E50;
    padding: 15px 0;
    text-align: center;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0 10px;
    display: inline-block;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #2980B9;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #7F8C8D;
}

main {
    padding: 20px;
}

.header-text {
    text-align: center;
    margin-bottom: 30px;
}

.donation-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.donation {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.donation h2 {
    font-size: 22px;
    color: #2C3E50;
}

.donation h3 {
    font-size: 20px;
    color: #27AE60;
    margin-top: 10px;
}

.footer-text {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: #34495E;
}

.image-container {
    text-align: center;
    margin-top: 30px;
}

.donation-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.gif-container {
    text-align: center;
    margin-top: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .header-text h1 {
        font-size: 28px;
    }

    .donation-info {
        grid-template-columns: 1fr;
    }

    .donation h2 {
        font-size: 20px;
    }

    .donation h3 {
        font-size: 18px;
    }

    .footer-text h2 {
        font-size: 16px;
    }
}
